//colors
$color-primary: #03050F
$color-secondary: #F8F9FF
$color-tertiary: #5E6488
$color-quaternary: #FF1C44
$color-quinary: #141938
$color-senary: #7981B2
$color-septenary: #D7DBF5
$color-octonary: #A9AFD9
$color-novenary: #389E0D
$color-decenary: #4F4FFF
$color-undecenary: #EDEFFC
$color-dodecenary: #FAFBFF
$color-triodecenary: #2B304E
$color-tetradecenary: #CCD1EE

$color-success: #28a745
$color-error: #dc3545
$color-warning: #ffc107
$color-info: #17a2b8
$color-black: #000
$color-white: #ffffff

//Typography
$font-primary: 'BR Sonoma', sans-serif
$font-secondary: 'Lato', sans-serif

$fw-thin: 100
$fw-xlight: 200
$fw-light: 300
$fw-regular: 400
$fw-medium: 500
$fw-semibold: 600
$fw-bold: 700
$fw-black: 800
$fw-xblack: 900

$font-size-base: 16px
$font-size-lg: 18px
$font-size-sm: 14px

//Breakpoints
$breakpoint-xs: 480px
$breakpoint-sx: 640px
$breakpoint-sm: 767px
$breakpoint-md: 960px
$breakpoint-lg: 1024px
$breakpoint-xl: 1280px
$breakpoint-xxl: 1450px
$breakpoint-xxxl: 1600px

//Transitions
$transition: all 0.3s ease-in-out
