@use '../abstracts/_variables' as var

:root
  //Font
  --font-primary: #{var.$font-primary}
  --font-secondary: #{var.$font-secondary}

  --fw-thin: #{var.$fw-thin}
  --fw-xlight: #{var.$fw-xlight}
  --fw-light: #{var.$fw-light}
  --fw-regular: #{var.$fw-regular}
  --fw-medium: #{var.$fw-medium}
  --fw-semibold: #{var.$fw-semibold}
  --fw-bold: #{var.$fw-bold}
  --fw-black: #{var.$fw-black}
  --fw-xblack: #{var.$fw-xblack}

  //Font Size
  --font-size-base: #{var.$font-size-base}
  --font-size-sm: #{var.$font-size-sm}

  //Transition
  --transition: #{var.$transition}
